<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>用例编辑</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./lib/layui/css/layui.css">
    <link rel="stylesheet" href="./lib/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="./lib/layui-formSelects-master/dist/formSelects-v4.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="./jss/config.js"></script>
    <script type="text/javascript" src="./js/our.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="/static/lib/layui-formSelects-master/dist/formSelects-v4.js"></script>
</head>
<body>
<div class="layui-row" id="im"></div>
    <script type="text/javascript" src="./jss/indexs.js"></script>
</body>
</html>